# Dependencies
node_modules/

# Build
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db